[Desktop Entry]
Name=Mini System Monitor
Exec=mini-system-monitor
Icon=io.github.hakandundar34coding.mini-system-monitor
Type=Application
Categories=System;Utility;

